<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Dolores Restaurant App</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
	</head>
    <body>
        <!-- Top Navigation -->
        <nav class="nav">
			<div class="brand-name">
				<a href="/">Dolores Restaurant App</a>
			</div>
            <ul class="nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://github.com/muspriandi/Submission-MFEWDE" target="_blank">About Us</a></li>
            </ul>
        </nav>

        <!-- Hero -->
        <div class="hero">
            <div class="hero-inner">
                <h1 class="hero-title">Dolores Restaurant App</h1>
                <p class="hero-description">The Best Indonesian Restaurant.</p>
            </div>
        </div>
		
		<!-- MAIN -->
		<main>
			<!-- Daftar Restaurant -->
			<section class="restaurant-list">
				<h2 class="main-tittle">Katalog Restaurant</h2>
				<p class="main-description">Daftar Restaurant Yang Tersedia</p>
				
				<div class="list">
					<article class="list-item">
						<img class="list-item-thumbnail" src="./images/heros/hero-image_4.jpg" alt="">
						<div class="p-relative">
							<button class="favorite-button">🖤</button>
						</div>
						<div class="list-item-content">
							<h2 class="content-title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h2>
							
							<p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
								explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
								minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
								doloremque impedit quod tempora tenetur totam vero.
							</p>
							
							<div class="content-footer">
								<button class="read-more-button">Lihat Lebih Banyak</button>
							</div>
						</div>
					</article>
					
					<article class="list-item">
						<img class="list-item-thumbnail" src="./images/heros/hero-image_3.jpg" alt="">
						<div class="p-relative">
							<button class="favorite-button">🖤</button>
						</div>
						<div class="list-item-content">
							<h2 class="content-title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h2>
							
							<p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
								explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
								minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
								doloremque impedit quod tempora tenetur totam vero.
							</p>
							
							<div class="content-footer">
								<button class="read-more-button">Lihat Lebih Banyak</button>
							</div>
						</div>
					</article>
					
					<article class="list-item">
						<img class="list-item-thumbnail" src="./images/heros/hero-image_2.jpg" alt="">
						<div class="p-relative">
							<button class="favorite-button">🖤</button>
						</div>
						<div class="list-item-content">
							<h2 class="content-title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h2>
							
							<p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
								explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
								minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
								doloremque impedit quod tempora tenetur totam vero.
							</p>
							
							<div class="content-footer">
								<button class="read-more-button">Lihat Lebih Banyak</button>
							</div>
						</div>
					</article>
					
					<article class="list-item">
						<img class="list-item-thumbnail" src="./images/heros/hero-image_1.jpg" alt="">
						<div class="p-relative">
							<button class="favorite-button">🖤</button>
						</div>
						<div class="list-item-content">
							<h2 class="content-title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h2>
							
							<p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
								explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
								minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
								doloremque impedit quod tempora tenetur totam vero.
							</p>
							
							<div class="content-footer">
								<button class="read-more-button">Lihat Lebih Banyak</button>
							</div>
						</div>
					</article>
					
					<article class="list-item">
						<img class="list-item-thumbnail" src="./images/heros/hero-image_3.jpg" alt="">
						<div class="p-relative">
							<button class="favorite-button">🖤</button>
						</div>
						<div class="list-item-content">
							<h2 class="content-title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h2>
							
							<p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
								explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
								minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
								doloremque impedit quod tempora tenetur totam vero.
							</p>
							
							<div class="content-footer">
								<button class="read-more-button">Lihat Lebih Banyak</button>
							</div>
						</div>
					</article>
				</div>
			</section>
		</main>
		
		<!-- Footer -->
		<footer>
			Copyright © 2021 - Dolores Restaurant App
		</footer>
    </body>
</html>
