<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#00695c"/>
		<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
		<link rel="manifest" href="manifest.json">
		<link rel="icon" href="favicon.png">
		
		<title>Near Restaurants</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
	</head>
    <body>
		<!-- Skip to content -->
		<a href="#maincontent" class="skip-link">Menuju ke konten</a>
		
        <!-- Top Navigation -->
        <nav class="nav">
			<div class="nav-brand">
				<a href="#/catalogue">Near Restaurants</a>
			</div>
			<button id="menu" class="nav-menu">☰</button>
            <ul id="drawer" class="nav-list">
                <li class="nav-item"><a href="#/catalogue">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://github.com/muspriandi/Submission-MFEWDE" target="_blank">About Us</a></li>
            </ul>
        </nav>

        <!-- Hero -->
        <div class="hero" aria-label="Gambar bagian hero">
            <div class="hero-inner">
                <h1 class="hero-title">Near Restaurants</h1>
                <p class="hero-description">The Best Indonesian Restaurant.</p>
            </div>
        </div>
		
		<!-- MAIN -->
		<main id="maincontent">
			
		</main>
		
		<!-- Footer -->
		<footer>
			Copyright © 2021 - Near Restaurants
		</footer>
    </body>
</html>
