@media screen and (min-width: 650px) {
	
	.hero-inner {
		background-color: rgba(0,0,0, 0.5);
		border: 2px solid #fff;
	}
	
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 850px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
